/* Text Styles */
h1 {
  font-family: AvenirNext-Bold;
  font-size: 48px;
  color: #000000;
  letter-spacing: 2px;
  line-height: 70px;
  text-transform: uppercase;
  font-weight: bold;
}

h2 {
  font-family: AvenirNext-Bold;
  font-size: 24px;
  color: #FFFFFF;
  letter-spacing: 1.5px;
  background-color: #2D2D2D;
  text-transform: uppercase;
  font-weight: bold;
}

h3 {
  font-family: "AvenirNext-Bold";
  font-size: 42px;
  color: #000000;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: bold;
}

h4 {
  font-family: AvenirNext-Bold;
  font-size: 24px;
  color: #000000;
  letter-spacing: 0;
  line-height: 35px;
}

.text {
  font-family: AvenirNext-Regular;
  font-size: 16px;
  color: #000000;
  letter-spacing: 0;
  line-height: 25px;
}

.bold_text {
  font-family: AvenirNext-DemiBold;
  font-size: 16px;
  color: #000000;
  letter-spacing: 0;
  line-height: 35px;
}

.subheader {
  font-family: AvenirNext-Regular;
  font-size: 24px;
  color: #000000;
  letter-spacing: 0;
  line-height: 35px;
}

.button {
  text-transform: uppercase;
  font-family: AvenirNext-DemiBold;
  font-size: 16px;
  color: #2D2D2D;
  letter-spacing: 0;
  text-align: center;
}

/* Header */
.header .col-2 {
  background-color: #FFCC33;
}

/* Introduction */
.introduction {
  background-color: #FFFFFF;
  padding-top: 100px;
  padding-bottom: 100px;
}

.introduction img {
  width: 200px;
  height: 200px;
  vertical-align: middle;
  border-radius: 100%;
}

/* Portfolio */
.portfolio {
  background-color: #FFCC33;
  height: 500px;
}

/* About Me */
.about_me {
  background-color: #FFFFFF;
  height: 500px;
}

/* What I Do */
.what_i_do {
  background-color: #FFCC33;
  height: 500px;
}

/* My Journey */
.my_journey {
  background-color: #FFFFFF;
  height: 500px;
}

/* Contact Form */
.contact_form {
  background-color: #FFCC33;
  height: 500px;
}

.form_row {
  background-color: #EEBF31;
}

/* Back to Top */
.back_to_top {
  background-color: #FFFFFF;
  height: 30px;
}

/* Footer */
.footer {
  background-color: #FFCC33;
  height: 30px;
}
